@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
  background-color:#D9E7E2;
  font-family: 'Comfortaa';
}

.menu {
  text-align: right;
}

.menu ul {
  list-style-type: none;
}

.container {
  text-align: center;
  padding-bottom: 32px;
}

footer {
  border-top: 1px solid black;
  text-align: center;
}

footer ul {
  list-style-type: none;
  padding-left: 0;
}

footer ul li {
  display: inline-block;
}

.contact-icon {
  max-height: 50px;
  max-width: 50px;
}

.lucy-and-harvey {
  max-width: 300px;
}